.Screen{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.text{
    color: white;
    position: relative;
    padding:min(80px, 10vw);
    display:flex;
    z-index:5;
    align-items:center;
    text-align:justify;
    width: min(100%,450px);
    min-height: 450px;
    box-sizing:border-box;
    /*border-radius: 50%;
    animation: float 60s ease-in-out infinite;*/
    background-color: darkblue;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    flex-direction: column;
}

@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translatey(0px);
        background-color: darkblue;
    }
    50% {
        box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
        transform: translatey(-20px);
        background-color: blueviolet;
    }
    100% {
        box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translatey(0px);
        background-color: darkblue;
    }
}